<div class="container"><h4>Your Data</h4>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <i class="fal fa-user"></i>
            <span> Name</span> <br>
            {{name}}
        </div>
    
        <div class="col-md-3">
            <i class="far fa-phone-alt"></i>
            <span> Phone</span> <br>
            {{phone}}
        </div>
    
        <div class="col-md-3">
            <i class="far fa-envelope"></i>
            <span> Email</span> <br>
            {{email}}
        </div>
    
        <div class="col-md-3">
            <i class="fas fa-map-marker-alt"></i>
            <span> Address</span> <br>
            {{address}}
        </div>
    </div>


  

    
</div>

<br>
<br>
<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="row"></th>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of products" >
            <th scope="row">
              <img src="{{baseUrl+''+item.pictureUrl}}" width="200" height="150">
            </th>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td>
              <p *ngIf="item.Qty >1 ;then enableMinus;else disableMinus"></p>
              <ng-template #enableMinus>
                <span>
                  <button class="btn addOrEditBtn"  (click)="Sub(item.id)">-</button>
                </span>
              </ng-template>

              <ng-template #disableMinus>
                <span>
                  <button class="btn addOrEditBtn" disabled (click)="Sub(item.id)">-</button>
                </span>
              </ng-template>
              
              <input id="Qty" [value]="item.Qty" name="Qty" type="text" disabled> 
              <span>
                <button class="btn addOrEditBtn" (click)="Add(item.id)">+</button> 
              </span>
            </td>
            <td>
              <input name="total" [(ngModel)]="total[item.id]" class="form-control" disabled>
            </td>
            <td>
              <button (click)="Delete(item.id)" class="btn btn-danger">Delete</button>
            </td>
          </tr>
         
        </tbody>
      </table>

      <table class="table ">
        <thead>
          <tr>
            <th>Total</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{allTotal}}</td>
          </tr>
        </tbody>
      </table>


</div>


<div style="text-align:center" *ngIf="products.length > 0" >

  <button class="btn btn-default" (click)="BackMethod()" style="margin-left:30px" >Back</button>

  <button (click)="ConfirmOrder()" class="btn mybtn">Confirm</button>


</div>