<!-- <ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link " aria-current="page" [routerLink]="['/']" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">Home</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" routerLink="/restaurants" routerLinkActive="active">Restaurants</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Disabled</a>
  </li>
</ul> -->

<!-- <app-restaurant></app-restaurant> -->

<router-outlet></router-outlet>