<div class="container" style="padding-top: 40px;">
    <div class="row">
        <div class="col-md-6">
            <h1 style="font-family: 'Courier New', Courier, monospace;">Reserve Now</h1>
            <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-6">
                        
                        <div class="input-group">
                            <input class="form-control" id="Name"  type="text" name="Name" formControlName="Name"
                            
                           placeholder="Name" aria-label="default input example">
                          

                            <div class="input-group-text">
                                <i class="fas fa-pen"></i>
                            </div>

                          </div>
                          <span class="text text-danger" *ngIf="customerForm.controls['Name'].invalid && (customerForm.controls['Name'].dirty || customerForm.controls['Name'].touched)">
                              Name is Required
                            
                            </span>       
                         </div>
                    <div class="col-md-6">

                        <div class="input-group">
                            <input class="form-control" type="text" [pattern]="phonePattern" id="Phone"
                             name = "Phone" formControlName="Phone"
                            
                             placeholder="Phone" aria-label="default input example">

                            <div class="input-group-text">
                                <i class="fas fa-phone-alt"></i> 
                           </div>
                        </div>
                        <span class="text text-danger" *ngIf="customerForm.controls['Phone'].invalid && (customerForm.controls['Phone'].dirty || customerForm.controls['Phone'].touched)">
                            Invalid Phone 
                          
                          </span> 
                    </div>
                </div>
                <br>
              
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <input class="form-control" 
                            id="Email" name="Email"
                            formControlName="Email"
                             type="text" placeholder="Email" aria-label="default input example">
                        <div class="input-group-text">
                            <i class="fad fa-envelope"></i>
                        </div>

                    </div>
                    <span class="text text-danger" *ngIf="customerForm.controls['Email'].invalid && (customerForm.controls['Email'].dirty || customerForm.controls['Email'].touched)">
                        InValid Email
                      
                      </span> 
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <input class="form-control" type="text" 
                            id="Address" name="Address"
                           formControlName="Address"
                            placeholder="Address" aria-label="default input example">

                            <div class="input-group-text">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                        </div>

                        <span class="text text-danger" *ngIf="customerForm.controls['Address'].invalid && (customerForm.controls['Address'].dirty || customerForm.controls['Address'].touched)">
                             Address isRequired
                          
                          </span> 
    
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <a class="btn mybtn"(click)="BackMethod()">Back</a>
                    </div>

                    <div class="col-sm-6">
                        <button type="submit" [disabled]="customerForm.invalid" style="margin-left: 180px;" class="btn mybtn">Confirm</button>
                    </div>
                </div>

               
            </form>
        </div>
        
        <div class="col-md-6" style="border-color: red;">
            <div class="card" style="max-width: 500px;">
                    <img src= "{{baseUrl+''+product.pictureUrl}}"  style="height: 200px;" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title" style="font-family: ' Edu VIC WA NT Beginner ';">{{product.name}}</h5>
                  <p class="card-text">{{product.description}}</p>
                  <a style="cursor:default;" disabled class="btn mybtn">{{product.price}}$</a>
                </div>
              </div>
        </div>
    </div>
    
    
</div>
